/* for tablets:480px to 767px*/
@media only screen and (max-width:767px) {
    body {
        font-size: 14px;
    }

    section {
        padding: 30px 0
    }

    ;


    .hero-text-box {

        padding: 0 4%;

    }

    .row {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .main-nav {
        display: none;
    }

    .long-copy {

        width: 100%;
        margin-left: 0%;

    }

    h1 {
        font-size: 180%;
    }

    h2 {
        font-size: 150%;
    }

    .step-box {
        text-align: center;
    }

    .step-box:first-child {
        text-align: center;
        padding-right: 0;
    }

    .work-steps {
        padding: 0%;

    }

    .work-steps div {
        vertical-align: middle;
        height: 40px;
        width: 40px;
        padding: 4px;
        font-size: 120%;
    }

    .app-screen {
        width: 30%;
    }

    .section-form {
        width: 100%;
        padding: 10% 0%;
    }

    .footer-nav {
        list-style: none;
        float: none;
        display: block;
        text-align: center;
    }

    .social-icons {
        list-style: none;
        float: none;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}

/* small phone :form 0 to 480px*/
@media only screen and (max-width:480px) {
    section {
        padding: 25px 0;
    }

    .contact-form {
        width: 100%;
    }

}

/* from small tablet to big tablet:767px to 1024px*/
@media only screen and (max-width:1024px) {
    body {
        font-size: 18px;
    }

    section {
        padding: 60px 0;
    }



    .long-copy {

        width: 80%;
        margin-left: 10%;

    }

    .step-box {
        margin-top: 10px;
    }

    .step-box:last-child {

        margin-top: 10px;
    }

    .app-screen {
        width: 50%;

    }

    .work-steps {
        margin-bottom: 40px;
    }

    .work-steps:last-of-type {
        margin-bottom: 60px;
    }

    .icon-small {
        width: 15px;
    }

    .city-feature {
        font-size: 80%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
    }

    .plan-price {
        font-size: 200%;
    }

    .contact-form {
        width: 80%;
    }


}

/* big tablets to laptops*/
@media only screen and (max-width:1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;

    }

    .row {
        padding: 0 2%;
    }
}